<html>
  <title>First Webpage</title>
  <head>First Webpage</head>
  <body>
    <h1>Welcome, Ronak</h1>
    <p>You started working on Rails...</p>
    <a href="http://localhost:3000/say/hello">Hello link</a>
  </body>
</html>